.text {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", sans-serif;
  line-height: 1.6;
}
.bold {
  font-weight: bold;
}

.size12 {
  font-size: 12px;
}
.size14 {
  font-size: 14px;
}
.size16 {
  font-size: 16px;
}
