.page {
  padding: 0 16px;
}

.section {
  padding-top: 60px;
}
.posts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 18px;
}

.hashTagList {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 22px 0 0 50px;
}

.writers {
  padding-top: 26px;
  border-top: 2px solid #d4613e;
}