.page {
  padding: 0 16px;
}

.section {
  padding-top: 60px;
}
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
  gap: 40px;
  margin: 18px auto 0;
}

.hashTagList {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 22px 0 0 50px;
}

.writers {
  padding-top: 26px;
  border-top: 2px solid #d4613e;
}

.writersList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
  gap: 24px;
  margin-top: 30px;
}
